* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mano {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-image: url(rs.jpg); */
}

.title {
  background-color: #fff;
  background-repeat: repeat;
}

.sub-h {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 50px;
}

.opponent {
  display: flex;
  justify-content: flex-end;
}

.img {
  width: auto;
  height: 200px;
}

button {
  /*BTN Styles*/
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: plum;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: 800;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  cursor: grab;
}

button:hover {
  background-color: rgb(219, 219, 219);
}

button:active {
  color: #fff;
  background-color: plum !important;
}

.btn-cont {
  text-align: center;
}

.icon-m,
.icon-r {
  height: 300px;
  width: auto;
  display: inline-block;
  border-radius: 200px;
  justify-content: flex-start;
}

.icon-m {
  padding-top: 3px;
  background-color: rgb(103, 166, 224);
}

.icon-r {
  background-color: rgb(58, 39, 21);
  border-radius: 1000px;
  padding-top: 50px;
  height: 250px;
}
